.settings-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.settings-card-header {
  display: flex;
  width: 100%;
  max-width: 100%;
}
.btn-full {
  max-width: var(--max-card-width);
  width: 100%;
}
.btn-settings-card {
  width: 100%;
  display: flex;
  text-align: left;
}
.settings-card-list {
  width: 100%;
}
.btn-container {
  display: flex;
  gap: 1rem;
}
.user-avatar-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.avatar-sm {
  max-width: 75px;
  min-width: 75px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
