.chess {
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.x-0 {
  grid-column: 1;
}
.x-1 {
  grid-column: 2;
}
.x-2 {
  grid-column: 3;
}
.x-3 {
  grid-column: 4;
}
.x-4 {
  grid-column: 5;
}
.x-5 {
  grid-column: 6;
}
.x-6 {
  grid-column: 7;
}
.x-7 {
  grid-column: 8;
}
.y-0 {
  grid-row: 1;
}
.y-1 {
  grid-row: 2;
}
.y-2 {
  grid-row: 3;
}
.y-3 {
  grid-row: 4;
}
.y-4 {
  grid-row: 5;
}
.y-5 {
  grid-row: 6;
}
.y-6 {
  grid-row: 7;
}
.y-7 {
  grid-row: 8;
}

.chess-map-column:nth-child(odd) .chess-map-cell:nth-child(odd) {
  background-color: #7d4141;
}
.chess-map-column:nth-child(even) .chess-map-cell:nth-child(even) {
  background-color: #7d4141;
}
.chess-map-cell {
  /* aspect-ratio: 1/1; */
  border: 2px solid #7d4141;
  position: relative;
  padding: 10px;
  /* max-width: 150px; */
}
.chess-white-pawn {
  background: var(--chessPawnWhite) no-repeat center;
  background-size: 45%;
}
.chess-black-pawn {
  background: var(--chessPawnBlack) no-repeat center;
  background-size: 45%;
}
.chess-white-rook {
  background: var(--chessRookWhite) no-repeat center;
  background-size: 45%;
}
.chess-black-rook {
  background: var(--chessRookBlack) no-repeat center;
  background-size: 45%;
}
.chess-white-bishop {
  background: var(--chessBishopWhite) no-repeat center;
  background-size: 35%;
}
.chess-black-bishop {
  background: var(--chessBishopBlack) no-repeat center;
  background-size: 35%;
}
.chess-white-knight {
  background: var(--chessKnightWhite) no-repeat center;
  background-size: 45%;
}
.chess-black-knight {
  background: var(--chessKnightBlack) no-repeat center;
  background-size: 45%;
}
.chess-white-queen {
  background: var(--chessQueenWhite) no-repeat center;
  background-size: 45%;
}
.chess-black-queen {
  background: var(--chessQueenBlack) no-repeat center;
  background-size: 45%;
}
.chess-white-king {
  background: var(--chessKingWhite) no-repeat center;
  background-size: 45%;
}
.chess-black-king {
  background: var(--chessKingBlack) no-repeat center;
  background-size: 45%;
}

.chess-dot {
  background: var(--chessDot) no-repeat center;
  background-size: 20%;
}
