.app-playground {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.notification-row {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 7px;
}
.notification-row * {
  flex-grow: 1;
  flex-basis: 0;
}
.appcard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.list-container,
.list-selection-value {
  overflow-x: auto;
}
.list-container .btn-main {
  min-width: fit-content;
  overflow-x: auto;
  padding: 0.5rem 1rem;
}
.list-selection-value .btn-main {
  min-width: fit-content;
  overflow-x: auto;
  padding: 0.5rem 1rem;
}
