.map {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  border: 1px solid gray;
}
.map-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.map-cell {
  border: 1px dotted;
  aspect-ratio: 1/1;
}
.room-with-door {
  background: url("/assets/room-with-door.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /* border: 1px solid gray; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.map-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
