.map {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  border: 1px solid gray;
}

.map-column {
  display: flex;
  flex-direction: column;
}
.map-cell {
  width: 100%;
  height: 100%;
  border: 1px dotted;
  position: relative;
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
}
.map-cell-name {
  position: absolute;
  top: 45%;
  left: 35%;
}
.btn-cell {
  width: 100%;
  height: 100%;
  padding: 0;
  min-width: auto;
}
.btn-cell-img {
  min-width: auto;
  width: 100%;
  height: 100%;
}
.map-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
