.map {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  border: 1px solid gray;
}
.map-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}
.map-cell {
  flex-direction: column;
  min-width: 100%;
  border: 1px dotted;
  aspect-ratio: 1/1;
}
.btn-cell {
  padding: 0.25rem;
  width: 100%;
  height: 100%;
  min-width: auto;
}
.btn-cell-img {
  min-width: auto;
}
.map-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
