.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 1rem;
}
.dark-mode .post {
  background-color: var(--dark-mode);
  color: white;
}
.dark-mode .card-text-bubble {
  background-color: var(--dark-mode);
  color: white;
}
.dark-mode .text-bubble {
  background-color: var(--dark-mode2);
}
.thread {
  background-color: var(--light-mode);
  width: 100%;
  border-radius: 1rem;
}
.message-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.message-box .form-submit-btn {
  max-width: 100px;
  margin: 0.5rem 1rem 0 0;
}
.post-thumbnail {
  max-height: 25vh;
  aspect-ratio: 16/9;
  border-radius: 10px;
  margin: auto;
  object-fit: contain;
}
.btn-post {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  min-width: 300px;
  max-width: 800px;
  width: 100%;
}
.reply-reactions {
  position: absolute;
  bottom: 0;
  left: 1rem;
}
.reply-reactions .btn-icon {
  padding: 0.125rem;
}
.reply-reactions .btn-icon:not(.btn-selected) {
  background-color: #fafafa;
}
.nested-reply-1 {
  padding-left: 2rem;
}
.nested-reply-1 + .reply-reactions {
  left: 2rem;
}
.nested-reply-2 {
  padding-left: 3rem;
}
.nested-reply-2 + .reply-reactions {
  left: 3rem;
}
.nested-reply-3 {
  padding-left: 4rem;
}
.nested-reply-3 + .reply-reactions {
  left: 4rem;
}
.nested-reply-4 {
  padding-left: 5rem;
}
.nested-reply-4 + .reply-reactions {
  left: 5rem;
}
.nested-reply-5 {
  padding-left: 6rem;
}
.nested-reply-5 + .reply-reactions {
  left: 6rem;
}
