.merch-row {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}
.merch-page {
  width: 100%;
}
.merch-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.merch-row:hover {
  border: 1px solid #888888;
  border-radius: 1rem;
  /* filter: brightness(0.7); */
  /* -webkit-filter: brightness(70%);
  
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}
.merch-row .merch-card-header {
  width: 50%;
}
.merch-row .merch-card-body {
  width: 100%;
}
.merch-row .merch-card-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
/* orders */
.order-row,
.btn-row {
  width: 100%;
  min-width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-content: center;
}
.order-row:hover,
.btn-row:hover {
  border: 1px solid #727272;
}
.btn-row:focus,
.order-row:focus {
  border: 1px solid #fafafa;
}
