.edit-app {
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
}

.btn-active {
  width: 100%;
  max-width: 450px;
}
.y-overflow {
  overflow-y: auto;
  max-height: 80vh;
}
.read-more-trigger {
  min-height: 30px;
  min-width: 70px;
}
.card-container {
  z-index: 1;
}
.height-75 {
  min-height: 55vh;
  max-height: 75vh;
}
.min-height-65 {
  min-height: 65vh;
}
.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}
.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}

.overflow-x {
  overflow-x: auto;
}
.overflow {
  overflow: auto;
}
.btn-logo {
  width: auto;
}
.c-green {
  color: green;
}
.btn-min {
  min-width: 50px;
  max-width: 50px;
  aspect-ratio: 1/1;
}
.btn-row {
  width: 100%;
  min-width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-content: center;
}
.btn-row:hover {
  border: 1px solid #727272;
}
.btn-row:focus {
  border: 1px solid #fafafa;
}

.dialog-navigation {
  position: relative;
}
.btn-main {
  color: black;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
.btn-avatar {
  max-width: 80px;
}
.btn-cta {
  z-index: 1;
}
.user-avatar {
  border-radius: 100%;
  aspect-ratio: 1/1;
  min-width: auto;
}

.testimonial-form {
  display: flex;
  flex-direction: row;
}
.testimonial-form-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.meet-the-team .card-hero-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.contact-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.container-card {
  border-radius: 7px;
  padding: 1rem;
}
.team-roster {
  display: flex;
  border: 1px solid #fafafa;
  gap: 1rem;
  padding: 1rem;
  max-width: 450px;
  min-width: 250px;
  border-radius: 4px;
  background-color: #fafafa;
}

.form-submit-btn {
  background-color: #fafafa;
  color: black;
}
.btn-burger,
.btn-x {
  z-index: 1;
  background-color: inherit;
}
.nav-btn {
  z-index: 1;
  background-color: inherit;
  border-radius: 7px;
}
.z-1 {
  z-index: 1;
}
.contact-icons {
  margin: auto;
  object-fit: contain;
  max-width: 100px;
  min-height: 150px;
}

footer {
  z-index: 0;
}
.logout-btn {
  margin: 5rem auto;
}
.scroll-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 1rem;
  /* width: 100%; */
  min-height: 60vh;
  max-height: 100vh;
  /* min-width: 800px; */
  overflow-y: auto;
}
.select-field {
  display: flex;
  align-items: center;
}
.app-card-container {
  justify-content: center;
}
.app-card {
  flex: 1;
  font: inherit;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  font-family: inherit;
  background-color: #fafafa;
  color: black;
  max-width: 150px;
}
.app-card .card-row-body {
  display: flex;
}

.explore-apps {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 2fr;
}
.build-app-container {
  min-width: 300px;
}

@media only screen and (max-width: 505px) {
  /*Small smartphones [325px -> 425px]*/
  .explore-apps {
    grid-template-columns: 1fr;
  }
  .card-container {
    justify-content: center;
  }
}

.preview-container {
  position: relative;
}
.preview-thumbnail {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0;
  gap: 1rem;
}
.page-header .hero-card {
  grid-template-columns: 1fr 1fr;
}
.mtb-2 {
  margin: 2rem 0;
}
.media-wrapper {
  position: relative;
}
.btn-media-remove {
  top: -5%;
  right: -5%;
  max-width: 25px;
}
.btn-rect {
  aspect-ratio: 1/1;
}
.page-header {
  display: flex;
  gap: 1rem;
}
.app-row {
  aspect-ratio: 16 / 9;
  min-width: 100%;
  max-width: 30vw;
  grid-template-columns: minmax(auto, 200px) 3fr;
  grid-template-rows: 1fr;
  max-height: 300px;
}
.logo {
  min-width: 120px;
}
.pages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.pages-container .preview-card {
  max-width: 450px;
  flex: 1;
}
.hero-contact {
  border-radius: 100%;
  aspect-ratio: 1/1;
  max-width: 100px;
}
.inventory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 0;
}
.iventory-item-card {
  flex-direction: column;
  display: flex;
  flex: 1;
  gap: 1rem;
  min-width: 120px;
}

.btn-close {
  width: 100%;
  min-width: 100%;
}
.primary-navigation {
  overflow-x: auto;
  padding: 0.25rem;
}
.store-inventory-container {
  justify-content: center;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.btn-checkout-container {
  background-color: #fafafa;
  position: sticky;
  z-index: 3;
  top: 0;
  border-radius: 4px;
  margin: 1rem;
}
.key-with-hint {
  display: flex;
  align-items: flex-start;
}
.key-with-hint p {
  min-width: fit-content;
  width: fit-content;
}
header {
  padding: 1rem;
}
.buttons-navigation {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.primary-navigation .navigation {
  width: 100%;
  padding: 0.25rem;
}
.primary-navigation .navigation .nav-btn {
  max-width: 150px;
}

.w-full .card-body-p {
  min-width: 100%;
}
.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.container .calendar-week {
  display: grid;
  text-align: center;
}
.btn-required,
.btn-cancel {
  background-color: #fafafa;
  color: crimson;
}
.form-center {
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
}
.form-center .form-field {
  max-width: 100%;
}

.g-center,
.grid-center {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 2fr 1fr;
}
.text-right {
  text-align: right;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.overflow-y {
  overflow-y: auto;
}
.text-fit {
  max-width: 100%;
}
.btn-remove {
  z-index: 1;
}
.hint-container {
  z-index: 4;
}

.service-card {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e7e7e7;
  color: black;
  z-index: 1;
}

.btn-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* min-width: 250px; */
  max-width: var(--max-card-width);
  padding: 1rem;
  border-radius: 10px;
}
.btn-card-container {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.form-header {
  width: 100%;
  max-width: 950px;
}
