.btn-board-body {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.btn-board-task {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 250px;
  max-width: var(--max-card-width);
  padding: 1rem;
  border-radius: 10px;
}
.board-list-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  overflow-x: auto;
}

.board-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  min-height: 75vh;
}
.task-card-container {
  display: flex;
  position: relative;
}
.btn-create-task {
  position: sticky;
  width: 100%;
  top: 10%;
  margin: 0 auto;
}
.btn-task-card-remove {
  position: absolute;
  top: 5%;
  border-radius: 100%;
  width: min-content;
  aspect-ratio: 1/1;
  max-width: 75px;
  min-width: auto;
  right: 5%;
}
.task-body {
  padding: 1rem;
  border-radius: 1rem;
}
.btn-task-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  max-width: 100%;
  min-height: 70px;
  cursor: grab;
}
.task-card-container:has(.loading) .loading {
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .board-list-container {
    flex-direction: column;
  }
  .board-list {
    min-width: 100%;
  }
}
