:root {
  --light-mode: #fafafa;
  --dark-mode: #222831;
  --dark-mode2: #45474b;
  --accent: #f4ce14;
  --active-color: #eccf3c;
  --max-card-width: 450px;
  --exes: url("../assets/exes.svg");
  --circle: url("../assets/circle.svg");
  --exesGray: url("../assets/exes-gray.svg");
  --circleGray: url("../assets/circle-gray.svg");
}
