.edit-app {
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
}

.testimonial-form {
  display: flex;
  flex-direction: row;
}
.testimonial-form-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.meet-the-team .card-hero-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.contact-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.team-roster {
  display: flex;
  border: 1px solid #fafafa;
  gap: 1rem;
  padding: 1rem;
  max-width: 450px;
  min-width: 250px;
  border-radius: 4px;
  background-color: #fafafa;
}
.contact-icons {
  margin: auto;
  object-fit: contain;
  max-width: 100px;
  min-height: 150px;
}
.logout-btn {
  margin: 5rem auto;
}

.select-field {
  display: flex;
  align-items: center;
}

.app-card {
  flex: 1;
  font: inherit;
  font-family: inherit;
}
.app-card .card-row-body {
  display: flex;
}
.explore-apps {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 2fr;
}
.build-app-container {
  min-width: 300px;
}

@media only screen and (max-width: 505px) {
  /*Small smartphones [325px -> 425px]*/
  .explore-apps {
    grid-template-columns: 1fr;
  }
  .card-container {
    justify-content: center;
  }
}
.section-card {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
}

.preview-container {
  position: relative;
}
.preview-thumbnail {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0;
  gap: 1rem;
}
.page-header .hero-card {
  grid-template-columns: 1fr 1fr;
}
.mtb-2 {
  margin: 2rem 0;
}
.media-wrapper {
  position: relative;
}
.btn-media-remove {
  top: -5%;
  right: -5%;
  max-width: 25px;
}
.btn-rect {
  aspect-ratio: 1/1;
}
.page-header {
  display: flex;
  gap: 1rem;
}
.app-row {
  aspect-ratio: 16 / 9;
  min-width: 100%;
  max-width: 30vw;
  grid-template-columns: minmax(auto, 200px) 3fr;
  grid-template-rows: 1fr;
  max-height: 300px;
}
.logo {
  min-width: 120px;
}
.pages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.pages-container .preview-card {
  max-width: 450px;
  flex: 1;
}

.inventory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 0;
}
.iventory-item-card {
  flex-direction: column;
  display: flex;
  flex: 1;
  gap: 1rem;
  min-width: 120px;
}
.button-hint-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.hint-container {
  min-width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
}
.hint-container .heading {
  text-align: center;
}
.btn-close {
  width: 100%;
  min-width: 100%;
}
.primary-navigation {
  overflow-x: auto;
  padding: 0.25rem;
}
.store-inventory-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.btn-checkout-container {
  background-color: #fafafa;
  position: sticky;
  z-index: 100;
  top: 0;
  border-radius: 4px;
  margin: 1rem;
}
.key-with-hint {
  display: flex;
  align-items: flex-start;
}
.key-with-hint p {
  min-width: fit-content;
  width: fit-content;
}
header {
  padding: 1rem;
}
.buttons-navigation {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.primary-navigation .navigation {
  width: 100%;
  padding: 0.25rem;
}
.primary-navigation .navigation .nav-btn {
  max-width: 150px;
}
.card-container {
  justify-content: flex-start;
}

.w-full .card-body-p {
  min-width: 100%;
}
.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.container .calendar-week {
  display: grid;
  text-align: center;
}
