.edit-app {
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
}

.testimonial-form {
  display: flex;
  flex-direction: row;
}
.testimonial-form-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.meet-the-team .card-hero-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.contact-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.m-tb {
  margin: 1rem 0;
}

.team-roster {
  display: flex;
  border: 1px solid #fafafa;
  gap: 1rem;
  padding: 1rem;
  max-width: 450px;
  min-width: 250px;
  border-radius: 4px;
  background-color: #fafafa;
}
.contact-icons {
  margin: auto;
  object-fit: contain;
  max-width: 100px;
  min-height: 150px;
}
.logout-btn {
  margin: 5rem auto;
}

.select-field {
  display: flex;
  align-items: center;
}

.app-card {
  flex: 1;
}
.app-card .card-row-body {
  display: flex;
}
.explore-apps {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 2fr;
}
.build-app-container {
  min-width: 300px;
}

@media only screen and (max-width: 505px) {
  /*Small smartphones [325px -> 425px]*/
  .explore-apps {
    grid-template-columns: 1fr;
  }
  .card-container {
    justify-content: center;
  }
}
.sections-grid {
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.section-card {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
}

.preview-container {
  position: relative;
}
.preview-thumbnail {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0;
  gap: 1rem;
}
.page-header .hero-card {
  grid-template-columns: 1fr 1fr;
}
.mtb-2 {
  margin: 2rem 0;
}
.media-wrapper {
  position: relative;
}
.btn-media-remove {
  top: -5%;
  right: -5%;
  max-width: 25px;
}
.btn-rect {
  aspect-ratio: 1/1;
}
.page-header {
  display: flex;
  gap: 1rem;
}
.card-row {
  display: grid;
  grid-template-columns: minmax(auto, 200px) 3fr;
}
.logo {
  min-width: 120px;
}
.pages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.pages-container .preview-card {
  flex: 1;
  /* max-width: 450px;
  min-width: 300px; */
}
.key-with-definition {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
  justify-items: flex-start;
  /* text-align: left; */
}
.inventory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 0;
}
.iventory-item-card {
  flex-direction: column;
  display: flex;
  flex: 1;
  gap: 1rem;
  min-width: 120px;
}
.button-hint-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.hint-container {
  min-width: 50vw;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 10px;

  position: absolute;
  top: 0;
  left: 50%;
}
.btn-close {
  width: 100%;
  min-width: 100%;
}
