.chess-white-pawn {
  background: var(--chessPawnWhite) no-repeat center;
  background-size: 45%;
}
.chess-black-pawn {
  background: var(--chessPawnBlack) no-repeat center;
  background-size: 45%;
}
.chess-white-rook {
  background: var(--chessRookWhite) no-repeat center;
  background-size: 45%;
}
.chess-black-rook {
  background: var(--chessRookBlack) no-repeat center;
  background-size: 45%;
}
.chess-white-bishop {
  background: var(--chessBishopWhite) no-repeat center;
  background-size: 35%;
}
.chess-black-bishop {
  background: var(--chessBishopBlack) no-repeat center;
  background-size: 35%;
}
.chess-white-knight {
  background: var(--chessKnightWhite) no-repeat center;
  background-size: 45%;
}
.chess-black-knight {
  background: var(--chessKnightBlack) no-repeat center;
  background-size: 45%;
}
.chess-white-queen {
  background: var(--chessQueenWhite) no-repeat center;
  background-size: 45%;
}
.chess-black-queen {
  background: var(--chessQueenBlack) no-repeat center;
  background-size: 45%;
}
.chess-white-king {
  background: var(--chessKingWhite) no-repeat center;
  background-size: 45%;
}
.chess-black-king {
  background: var(--chessKingBlack) no-repeat center;
  background-size: 45%;
}

.chess-dot {
  background: var(--chessDot) no-repeat center;
  background-size: 20%;
}
.chess .x-0:nth-child(even) {
  background-color: #7d4141;
}
.chess .x-1:nth-child(odd) {
  background-color: #7d4141;
}
.chess .x-2:nth-child(even) {
  background-color: #7d4141;
}
.chess .x-3:nth-child(odd) {
  background-color: #7d4141;
}
.chess .x-4:nth-child(even) {
  background-color: #7d4141;
}
.chess .x-5:nth-child(odd) {
  background-color: #7d4141;
}
.chess .x-6:nth-child(even) {
  background-color: #7d4141;
}
.chess .x-7:nth-child(odd) {
  background-color: #7d4141;
}
