@import "./assets.css";

.chess {
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: auto;
}
.chess-player-1 {
  rotate: 180deg;
}
.chess-map-cell {
  border: 2px solid #7d4141;
  position: relative;
  padding: 10px;
  min-width: 100%;
}
.can-capture {
  /* background-color: aliceblue; */
  border: 5px solid rgb(13, 45, 82);
  /* background: var(--chessDot) no-repeat center;
  background-size: 20%; */
}
